.parent-changelocation{
    display: flex;
    flex-direction: column;


}
.upper-cl{
display: flex;
flex-direction: row;

}
.icon-cl{
    border: 1.5px ;
    padding-top: 6px;
    margin-left: 55px;
    
   
}
.input-cl{
    width: 223px;
height: 36px;
background: #F9F9F9;
border: 1px solid #ABB3BB;
border-radius: 13px;
display: flex;
flex-direction: row;

}


input{
    width: 140px;
height: 32px;
background-color: #F9F9F9;
border: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;

padding-top: 4px;


justify-content: center;
text-align: center;

color: #000000;
border-radius: 13px;



}
.lower-cl{
    width: 223px;
height: 202px;
background: #444343;
border-radius: 13px;



}
.line-sg{
    width: 220.02px;
height: 0px;
margin-top: 18px;
border: 1px solid #C4B7B7;
}
.text-sg{
    width: 109px;
height: 14px;


font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 20px;
text-align: center;

color: #FFFFFF;
}
.icon-sg{
    color: #FFFFFF;
   padding-left: 80px;
   border: 1.5px;
   

   

    
}
.suggestion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
   
}
  