.reset-head {
    display: flex;
    align-items: center;
    margin-left: 20px;
    align-self: start;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
  
    color: #000000;
  }
  .reset-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
  }