.top-search{
    margin-top: 23px;
    /* border: 2px solid red; */
    width: 326px;
    background: #D9D9D9;
    border-radius: 14px;
    height: 45px;
    display: flex;
    /* gap: 0.81em; */
    /* padding: 10px 10px; */
    flex-direction: row;
    align-items: center;
    /* width: auto; */
    /* border: 2px solid red;  */
    padding-right: 0px;
 
 }
 .search-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    /* text-align: center; */
    background: #D9D9D9;
    border: none;
    outline: none;
    size: auto;
    width: 256px;
    color: black;

    /* border: 2px solid green;  */
    margin-right: 20px;
    margin-left: 19px;
    outline: none;
    
    
  }

  .search-icon{
      border: none;
      background: #D9D9D9;
      height: 14px;

  }

  ::placeholder { 
    color: black;
    opacity: 1; 
  }

  :-ms-input-placeholder { 
    color: black;
  }

  ::-ms-input-placeholder { 
    color: black;
  }