.book-slot {
    width: 324px;
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: #EAF0FF;
    border-radius: 7px;
    justify-content: space-around;
    margin: 0px auto;
    
}

.time-row{
    display: flex;
    justify-content: space-between; 
    width: 305px;
    align-self: center;
    margin: 8px; 
    
    
}


.btn-slot{
    width: 61px;
    height: 18px;
    width: 61px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    border: none;
    border-radius: 7px;
}

